* {
    margin:0;
    padding: 0;
    box-sizing: border-box;
    

    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    -webkit-font-smoothing: antialiased !important;
  
}
li{
    list-style: none;
}
  
.logo{
    width: 80px;
    height: 80px;
    border-radius: 50px;
}

.gradient {
    background: #833ab4;
    background: linear-gradient(
      to right,
      #833ab4,#fd1d1d,#fcb045
    );
  }
 
  .menuItem {
    color: #ffff;
    font-weight: 500;
  }
 